body {
    font-family: 'メイリオ', Meiryo, '游ゴシック', YuGothic, 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'Noto Sans JP', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 650px;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
    margin-bottom: 4px;
}





.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}


.taskbutton,
.taskeditbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 64px;
    height: 42px;
}

.taskbutton-disabled {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 64px;
    height: 42px;
}

.buttonSelected {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(50, 76, 153);
    color: yellow;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.guruguru {
    display: flex;
    justify-content: center;
    height: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 93%;
    max-width: 650px;
}

.itemwrapper {
    border: 1px solid #e0c7c7;
}

.item {
    display: flex;
    align-items: center;
}

.twobutton {
    display: flex;
    justify-content: flex-end;
}

.itemedit {
    display: flex;
    align-items: center;
}

.text {
    padding-right: 5px;
    padding-left: 5px;
    width: 80%;
    word-break: break-all;
}

#band {
    padding-bottom: 16px;
}

/* ul { */
/* list-style: none; */
/* 箇条書きのマーカーを削除 */
/* padding: 0; */
/* } */

/* li { */
/* display: inline-block; */
/* 横並びにする */
/* margin-right: 10px; */
/* 各要素の間に余白をつける */
/* } */

.howtoHtml {
    width: 80%;
    margin: 0 auto;
}

.midashi {
    margin-bottom: 0;
}

.setumei {
    margin-top: 0;
}

.emptyTask {
    text-align: center;
}